// ion-icon{
//     margin-right: 4%;
//     font-size: 155%
// }

// ion-card{
//     .p{
        
//             font-size: 1.5em;
//             color: black;
        
//     }
// }


h1{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.42857143;

    color: black;
    font-weight: 600;
 }
 ion-icon{
    margin-right: 4%;
    font-size: 155%
}

.h1 {
    float: left;
}

ion-footer {
    color: var(--ion-color-primary);
}

/*Footer*/
#footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
  }

  button{
      background-color: transparent;
      color: aliceblue;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: medium;
  }
.flixline{
    height: 60px;
    margin-bottom: 7px;
}