.card-background-page{
       ion-card {
           position: relative;
           text-align:center;


       }
       .card-title{
           position: absolute;
           font-size: 1.5em;
           font-weight: 400;
           color:currentColor;
           text-align: left;
           bottom:4%;
           width: 255px;
           margin: auto;
           display: block
       }
       
   }

   ion-content {
    --background:seashell;
  }

  ion-icon{
    margin-right: 4%;
    font-size: 155%
}



   @media only screen and (max-width: 480) {
    .screen-480 {
      display: block;
    }
    .screen-768 {
      display: none;
    }
  }